# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare files that should always have LF
*.sh text eol=lf
*.js text eol=lf
*.css text eol=lf
*.json text eol=lf
